body, html {
    margin: 0;
    height: 100%;
}

html {
    background: #ecdef8;
}

body {
    display: grid;
    font: 14px "Open Sans";
}

#game-container {
    margin: auto;
    text-align: center;
}

canvas {
    max-width: 100%;
}

.smartphones-info, .credits, .description {
    margin: 10px;
    color: #81738e;
}

.description {
    text-align: left;
    margin: 50px auto 0;
    max-width: 80%;
}

a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid #81738e;
}

a:hover, a:focus {
    border-bottom-style: dotted;
}

#preload {
    display: none;
}
